//Fonts PN - Proxima Nova
@font-face {
    font-family: "PN";
    src: url("../fonts/ProximaNova-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PN";
    src: url("../fonts/ProximaNova-Semibold.woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "PN";
    src: url("../fonts/ProximaNova-Bold.woff");
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'PN';
}

//Стили для текстов
.regular-text {
    font-style: normal;
    font-weight: 400;
}

.wrapper {
    box-sizing: border-box;
    width: 1140px;
    padding: 0 15px 0 15px;
    margin: auto;
}

.description-block {
    width: 100%;
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 150px;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .comment-row {
        width: fit-content;
        display: flex;
        align-items: flex-end;
        .avatar {
            width: fit-content;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 80px;
            .avatar__img {
                margin-bottom: 20px;
            }
            .avatar__name {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 140%;
                color: #373539;
                margin-bottom: 10px;
            }
            .avatar__post {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                color: #5F5D61;
            }
        }
        .comment {
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 9px;
            box-sizing: border-box;
            width: 540px;
            height: 326px;
            background: #F5F5F5;
            border-radius: 8px;
            padding: 0 30px;
            .content {
                .comment__title {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 140%;
                    color: #373539;
                    margin-bottom: 20px;
                }
                .comment__text {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 140%;
                    color: #5F5D61;
                    letter-spacing: .03em;
                }
            }
            .decoration {
                position: absolute;
                &#decoration_1 {
                    right: 62px;
                    top: 15px;
                }
                &#decoration_2 {
                    right: 17px;
                    bottom: 13px;
                    width: 32px;
                    height: auto;
                    transform: rotate(-117deg);
                }
            }
        }
    }
}